<% include partials/header %>

<h1>Campgrounds page</h1>

<a href="/campgrounds/new">Add new campground</a>

<% campgrounds.forEach( function(value, index) { %>
  <div>
    <h4><%= value["name"] %></h4>
    <img src="<%= value["image"] %>" alt="campground image">
  </div>
<% } ); %>

<% include partials/footer %>
