<% include partials/header %>

<div class="container">

  <header class="jumbotron">
    <div class="container">
      <!-- Use container to add some spacing to the left of the text when window is resized,
      so that the text does no stick to the edge of the jumbotron. -->
      <h1>Welcome to YelpCamp!</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
        <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add new campground</a>
      </p>
    </div>
  </header>

  <div class="row text-center" style="display: flex; flex-wrap: wrap;">
    <!-- We have images of different heights. So are grid is a bit messed up.
    We add this style attribute to our row div to fix that.
    Because to this style(flex), our grid becomes more flexible. It doesn't matter that we have images of different heights.
    Because now the grid adapts. So if the height of the image is very short, or long, it still stays in its row.
    i.e. the height of the row becomes flexible. -->
    <% campgrounds.forEach( function(value, index) { %>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= value.image %>" alt="campground image">
          <div class="caption">
            <h4><%= value.name %></h4>
          </div>
          <div>
            <a class="btn btn-primary btn-sm" href="/campgrounds/<%= value._id %>" target="_blank">More Info</a>
          </div>
        </div>
      </div>
    <% } ); %>
  </div>

</div>

<% include partials/footer %>
