<% include partials/header %>

<div class="container">
  <h1><%= campground.name %></h1>
  <img src="<%= campground.image %>" class="img-thumbnail" alt="campground image" width="700" height="400">
  <div><%= campground.description %></div>
</div>

<% include partials/footer %>
